/* Notes
Fonts:
    font-family: 'Audiowide', cursive;
    font-family: 'Bungee Hairline', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Share Tech Mono', monospace;

Color Palette:
    gunmetal: #18222b
    sonic silver: 757982
    beaver: 95796b
    khaki web: bea88d
    shadow blue: 6e88a3
} */


body {
    background-color: #18222b;
    color: #bea88d;
}

/* Navigation Bar */
nav {
    background-color: #95796b;
}

.navbar-brand {
    color: #07080D;
    font-family: 'Audiowide', cursive;
    font-size: 3vmax;
}

.nav-item a {
    color: #07080D;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    text-align: right;
}

.top-mar {
    margin-top: 35px;
}

navbar .container-fluid {
    margin-top: 0px;
}

/* Body Formatting */
.text-end {
    padding-right: 5%;
}

.sidebar {
    border-right: 6px solid #95796b;
    border-radius: 25px;
    height: 100%;
}

h1 {
    font-family: 'Audiowide', cursive;
}

/* Work Images */
.row>img {
    padding-right: 0%;
    padding-left: 0%;
}

.large {
    align-items: center;
    margin: 1%;
    border-style: outset;
    border-width: 3px;
    border-color: #95796b;
    max-width: 90.5%;
    border-radius: 30% 0% 30% 0%;
}

.small {
    align-items: center;
    margin: 1%;
    border-style: outset;
    border-width: 3px;
    border-color: #95796b;
    max-width: 43.5%;
    border-radius: 30% 0% 30% 0%;
}

/* Footer */
footer {
    margin: 10px;
    background-color: #95796b;
    color: #18222b;
    border-right: 6px solid #18222b;

}

footer .sidebar {
    border-right: 6px solid #18222b;
}

.list-inline {
    font-family: 'Bungee Hairline', cursive;
}

.inline-space {
    padding-right: 5%;
    padding-top: 2%;
}

/* Link Formatting */
a h4 {
    color:#18222b;
    font-weight: bold;
    border-radius: 25px;
    padding-top: .5vw;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color:#18222b;
    font-weight:bolder;
}
  
a:visited {
    text-decoration: none;
    color:#18222b;
    font-weight: bold;
}
  
a:hover {
    text-decoration: none;
    color:#2d363f;
    font-weight: bold;
}
  
a:active {
    text-decoration: none;
    color:#18222b;
    font-weight: bold;
}

/* Footer Buttons */
.in-button {
    margin-top: 1%;
    padding: 7px 10px;
    font-size: 1vw-max;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #757982;
    border: none;
    border-radius: 14px;
    box-shadow: 0 5px 1px #44464b;
}

.in-button:hover {
    background-color: #757982
}

.in-button:active {
  background-color: #757982;
  box-shadow: 0 5px #27282b;
  transform: translateY(4px);
}

/* Image Overlay */
/* .img-contain { 
    position: relative;
    width: 100%
}
  
.link-pic {
    display: block;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: rgb(39, 40, 43, 0.65);
    visibility: hidden;
    transition: all .5s ease;
    transform: translateY(-100%);
    border-radius: 30% 0% 30% 0%;
}
  
.img-contain:hover .overlay,
.img-contain:hover .overlay .caption i {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.img-contain:hover .overlay .caption i {
     transition-delay: 300ms;
}

.caption { 
    font-family: 'Audiowide', cursive;
    font-style: normal;
    font-size: 30px;
    color: #bea88d;
    position: absolute;
    margin:auto;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.caption i {
   opacity: 0;
   visibility: hidden;
   display: inline-block;
   transform: translateY(-20px);
   transition: all .5s ease;
}
 */
